@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.maxW {
  max-width: 1620px;
  padding: 0 2%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
summary {
  font-family: "Roboto", serif;
}

p {
  font-family: "Barlow", serif;
}

h5,a {
  font-family: "Jost", serif;
}

input {
  outline: none;
  border-bottom: 1px solid #011E45; 
  padding: 4px 4px;
  width: 50%;
}


/* BACKGROUNDS */
.bannerMain {
  position: relative;
  background-image: url('/bannerMain.jpg');
  background-size: cover;
  background-position:right;
  height: 90vh;
  z-index: 1;
  overflow: hidden;
}

.bannerMain::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3); /* Ajuste a opacidade conforme necessário */
  z-index: 2;
}

.bannerDR {
  position: relative;
  background-image: url('/doctor-profile-bg.jpg');
  background-size: cover;
  background-position: left;
  z-index: 1;
  overflow: hidden;
}

.BannerAsk {
  background-image: url('/askBG.png');
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
}

.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 345px; 
  letter-spacing: 20px;
  font-weight: bolder;
  text-align: center;
}

.outlined-text {
  color: transparent;
  -webkit-text-stroke: 2px #02306d; 
  font-weight: bolder;
  background-color: transparent;
}


/* SUMARY */
summary {
  list-style: none;
  cursor: pointer;
  position: relative;
  font-weight: bold;
}

summary::before {
  content: counter(step) ". "; 
  counter-increment: step; 
  font-size: 14px;
  font-weight: bold;
  color: #011E45; 
}

details {
  counter-reset: step; 
}

details[open] summary::before {
  color: #E12454; 
}

details[open] summary {
  color: #E12454;
}



